name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    services:
      # flagd-testbed for flagd RPC provider e2e tests
      flagd:
        image: ghcr.io/open-feature/flagd-testbed:v0.5.2
        ports:
          - 8013:8013
      # flagd-testbed for flagd RPC provider reconnect e2e tests
      flagd-unstable:
        image: ghcr.io/open-feature/flagd-testbed-unstable:v0.5.2
        ports:
          - 8014:8013
      # sync-testbed for flagd in-process provider e2e tests
      sync:
        image: ghcr.io/open-feature/sync-testbed:v0.5.2
        ports:
          - 9090:9090
      # sync-testbed for flagd in-process provider reconnect e2e tests
      sync-unstable:
        image: ghcr.io/open-feature/sync-testbed-unstable:v0.5.1
        ports:
          - 9091:9090

    steps:
      - name: Checkout Repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Set up JDK 8
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Cache local Maven repository
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Maven Verify
        run: mvn --batch-mode --activate-profiles e2e clean verify
