name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

jobs:
  main:
    strategy:
        matrix:
          os: [ubuntu-latest]
          build:
              - java: 21
                profile: codequality
              - java: 11
                profile: java11

    name: with Java ${{ matrix.build.java }}
    runs-on: ${{ matrix.os}}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: recursive

      - name: Set up JDK ${{ matrix.build.java }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: ${{ matrix.build.java }}
          distribution: 'temurin'
          cache: maven

      - name: Cache local Maven repository
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}${{ matrix.build.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}${{ matrix.build.java }}-maven-

      - name: Maven Verify
        run: mvn --batch-mode --activate-profiles e2e,${{ matrix.build.profile }} clean verify
