name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

jobs:
  main:
    strategy:
        matrix:
          os: [ubuntu-latest]
          build:
              - java: 21
                profile: codequality
              - java: 11
                profile: java11

    name: with Java ${{ matrix.build.java }}
    runs-on: ${{ matrix.os}}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: recursive

      - name: Set up JDK ${{ matrix.build.java }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: ${{ matrix.build.java }}
          distribution: 'temurin'
          cache: maven

      - name: Cache local Maven repository
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}${{ matrix.build.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}${{ matrix.build.java }}-maven-

      - name: Maven Verify
        # Run Maven build with e2e and specific profile, using parallel threads (if some provider decides to use a different toolchain version, this might break)
        run: mvn -T 2C --batch-mode --activate-profiles e2e,${{ matrix.build.profile }} clean verify
